<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samarth.zippyfood" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.example.samarth.zippyfood.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.samarth.zippyfood.permission.C2D_MESSAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".starter"
            android:label="@string/title_activity_starter" >
        </activity>
        <activity
            android:name=".maincourse"
            android:label="@string/title_activity_maincourse" >
        </activity>
        <activity
            android:name=".drinks"
            android:label="@string/title_activity_drinks" >
        </activity>
        <activity
            android:name=".desserts"
            android:label="@string/title_activity_desserts" >
        </activity>
        <activity
            android:name=".cbm"
            android:label="@string/title_activity_cbm" >
        </activity>
        <activity
            android:name=".chickmomos"
            android:label="@string/title_activity_chickmomos" >
        </activity>
        <activity
            android:name=".dof"
            android:label="@string/title_activity_dof" >
        </activity>
        <activity
            android:name=".pbp"
            android:label="@string/title_activity_pbp" >
        </activity>
        <activity
            android:name=".serniorita"
            android:label="@string/title_activity_serniorita" >
        </activity>
        <activity
            android:name=".todiefor"
            android:label="@string/title_activity_todiefor" >
        </activity>
        <activity
            android:name=".virginmojito"
            android:label="@string/title_activity_virginmojito" >
        </activity>
        <activity
            android:name=".tigerswing"
            android:label="@string/title_activity_tigerswing" >
        </activity>
        <activity
            android:name=".ccwh"
            android:label="@string/title_activity_ccwh" >
        </activity>
        <activity
            android:name=".dalbukhara"
            android:label="@string/title_activity_dalbukhara" >
        </activity>
        <activity
            android:name=".malaikofta"
            android:label="@string/title_activity_malaikofta" >
        </activity>
        <activity
            android:name=".misedveggies"
            android:label="@string/title_activity_misedveggies" >
        </activity>
        <activity
            android:name=".mudcake"
            android:label="@string/title_activity_mudcake" >
        </activity>
        <activity
            android:name=".chocolatemousse"
            android:label="@string/title_activity_chocolatemousse" >
        </activity>
        <activity
            android:name=".icecream"
            android:label="@string/title_activity_icecream" >
        </activity>
        <activity
            android:name=".chocobrownie"
            android:label="@string/title_activity_chocobrownie" >
        </activity>
        <activity
            android:name=".welcome2"
            android:label="@string/title_activity_welcome2" >
        </activity>
        <activity
            android:name=".welcome1"
            android:label="@string/title_activity_welcome1" >
        </activity>
        <activity
            android:name=".chinese"
            android:label="@string/title_activity_chinese" >
        </activity>
        <activity
            android:name=".indian"
            android:label="@string/title_activity_indian" >
        </activity>
        <activity
            android:name=".pnrtk"
            android:label="@string/title_activity_pnrtk" >
        </activity>
        <activity
            android:name=".sabsh"
            android:label="@string/title_activity_sabsh" >
        </activity>
        <activity
            android:name=".pnssh"
            android:label="@string/title_activity_pnssh" >
        </activity>
        <activity
            android:name=".sabko"
            android:label="@string/title_activity_sabko" >
        </activity>
        <activity
            android:name=".chickar"
            android:label="@string/title_activity_chickar" >
        </activity>
        <activity
            android:name=".saagmeat"
            android:label="@string/title_activity_saagmeat" >
        </activity>
        <activity
            android:name=".chicmal"
            android:label="@string/title_activity_chicmal" >
        </activity>
        <activity
            android:name=".mutdopya"
            android:label="@string/title_activity_mutdopya" >
        </activity>
        <activity
            android:name=".chowmein"
            android:label="@string/title_activity_chowmein" >
        </activity>
        <activity
            android:name=".springroll"
            android:label="@string/title_activity_springroll" >
        </activity>
        <activity
            android:name=".rice"
            android:label="@string/title_activity_rice" >
        </activity>
        <activity
            android:name=".breads"
            android:label="@string/title_activity_breads" >
        </activity>
        <activity
            android:name=".salads"
            android:label="@string/title_activity_salads" >
        </activity>
        <activity
            android:name=".vegmanch"
            android:label="@string/title_activity_vegmanch" >
        </activity>
        <activity
            android:name=".vegrice"
            android:label="@string/title_activity_vegrice" >
        </activity>
        <activity
            android:name=".chillychic"
            android:label="@string/title_activity_chillychic" >
        </activity>
        <activity
            android:name=".chicchow"
            android:label="@string/title_activity_chicchow" >
        </activity>
        <activity
            android:name=".thai"
            android:label="@string/title_activity_thai" >
        </activity>
        <activity
            android:name=".italian"
            android:label="@string/title_activity_italian" >
        </activity>
        <activity
            android:name=".brush"
            android:label="@string/title_activity_brush" >
        </activity>
        <activity
            android:name=".calzone"
            android:label="@string/title_activity_calzone" >
        </activity>
        <activity
            android:name=".cbd"
            android:label="@string/title_activity_cbd" >
        </activity>
        <activity
            android:name=".chicpasta"
            android:label="@string/title_activity_chicpasta" >
        </activity>

        <activity
            android:name=".chicspa"
            android:label="@string/title_activity_chicspa" >
        </activity>
        <activity
            android:name=".rcp"
            android:label="@string/title_activity_rcp" >
        </activity>

    </application>

</manifest>
