<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuts.notes_lib" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Student Resource"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Notes"
            android:label="Student Resource" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".computer_main"
            android:label="Computer" >
        </activity>
        <activity
            android:name=".Mechanical1"
            android:label="Mechanical" >
        </activity>
        <activity
            android:name=".IT"
            android:label="@string/title_activity_it" >
        </activity>
        <activity
            android:name=".Civil"
            android:label="@string/title_activity_civil" >
        </activity>
    </application>

</manifest>
