<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.srija.dietplanner" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BMI_CALCULATOR"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BMR_CALCULATOR"
            android:label="@string/title_activity_bmr__calculator"
            android:parentActivityName=".BMI_CALCULATOR" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.srija.dietplanner.BMI_CALCULATOR" />
        </activity>
        <activity
            android:name=".MEAL"
            android:label="@string/title_activity_meal"
            android:parentActivityName=".BMR_CALCULATOR" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.srija.dietplanner.BMR_CALCULATOR" />
        </activity>
        <activity
            android:name=".BREAKFAST"
            android:label="@string/title_activity_breakfast"
            android:parentActivityName=".MEAL" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.srija.dietplanner.MEAL" />
        </activity>
        <activity
            android:name=".LUNCH"
            android:label="@string/title_activity_lunch"
            android:parentActivityName=".MEAL" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.srija.dietplanner.MEAL" />
        </activity>
        <activity
            android:name=".DINNER"
            android:label="@string/title_activity_dinner"
            android:parentActivityName=".MEAL" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.srija.dietplanner.MEAL" />
        </activity>
        <activity
            android:name=".PREV_DATA"
            android:label="@string/title_activity_prev__dat"
            android:parentActivityName=".BMI_CALCULATOR" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.srija.dietplanner.BMI_CALCULATOR" />
        </activity>
    </application>

</manifest>
