<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dishantkaushik.thelibraryapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".WelcomePage"
            android:label="@string/title_activity_welcome_page" >
        </activity>
        <activity
            android:name=".gridBooks"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_grid_books"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".FullImageActivity"
            android:label="@string/title_activity_full_image" >
        </activity>
    </application>

</manifest>
